USE [BDFarma]
GO
/****** Object:  UserDefinedFunction [dbo].[F_HoraActual]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Function [dbo].[F_HoraActual]() 
Returns datetime
As
 Begin
 Declare  @FechaHoraActual datetime
 Set @FechaHoraActual  = getdate()
 
 Return @FechaHoraActual
 End  
GO
/****** Object:  Table [dbo].[m_categoria]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[m_categoria](
	[n_categoria] [int] NOT NULL,
	[c_descripcion] [varchar](150) NOT NULL,
	[c_usuarioregistro] [varchar](12) NULL,
	[c_ultimafechamod] [datetime] NULL,
	[c_estado] [varchar](1) NULL,
 CONSTRAINT [PK_m_categoria] PRIMARY KEY CLUSTERED 
(
	[n_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[m_cliente]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[m_cliente](
	[c_tipocliente] [varchar](2) NOT NULL,
	[c_documento] [varchar](20) NOT NULL,
	[c_nombre] [varchar](100) NULL,
	[c_apellidopaterno] [varchar](100) NULL,
	[c_apellidomaterno] [varchar](100) NULL,
	[c_razonsocial] [varchar](300) NOT NULL,
	[d_fechanacimiento] [datetime] NULL,
	[c_estado] [varchar](2) NOT NULL,
	[c_usuarioregistro] [varchar](12) NOT NULL,
	[d_Fecharegistro] [datetime] NOT NULL,
	[c_usuarioultmodif] [varchar](12) NULL,
	[d_fechaultmodif] [datetime] NULL,
 CONSTRAINT [PK_m_cliente] PRIMARY KEY CLUSTERED 
(
	[c_tipocliente] ASC,
	[c_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[m_direccioncliente]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[m_direccioncliente](
	[c_tipocliente] [varchar](2) NOT NULL,
	[c_documento] [varchar](20) NOT NULL,
	[n_secuencia] [int] NOT NULL,
	[c_descripciondir] [varchar](150) NULL,
	[c_estado] [varchar](2) NULL,
	[c_latitud] [varchar](20) NULL,
	[c_longitud] [varchar](20) NULL,
	[c_ubigeo] [varchar](12) NULL,
	[c_usuariocreacion] [varchar](12) NULL,
	[d_fechacreacion] [datetime] NULL,
	[c_ultimausuariomod] [varchar](12) NULL,
	[d_ultimafechamod] [datetime] NULL,
 CONSTRAINT [PK_m_direccioncliente] PRIMARY KEY CLUSTERED 
(
	[c_tipocliente] ASC,
	[c_documento] ASC,
	[n_secuencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[m_presentacion]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[m_presentacion](
	[c_presentacion] [varchar](4) NOT NULL,
	[c_descripcion] [varchar](100) NOT NULL,
	[c_estado] [varchar](2) NOT NULL,
	[c_ultimousuariomod] [varchar](12) NULL,
	[d_ultimafechamod] [datetime] NULL,
 CONSTRAINT [PK_m_presentacion] PRIMARY KEY CLUSTERED 
(
	[c_presentacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[m_presentacionproducto]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[m_presentacionproducto](
	[c_codproducto] [varchar](20) NOT NULL,
	[c_presentacion] [varchar](4) NOT NULL,
	[n_cantidad] [int] NOT NULL,
	[n_correlativo] [bigint] IDENTITY(1,1) NOT NULL,
	[c_estado] [varchar](2) NULL,
	[c_usuarioregistro] [varchar](12) NULL,
	[d_Fecharegistro] [datetime] NULL,
	[c_ultimousuariomod] [varchar](12) NULL,
	[d_ultimafechamod] [datetime] NULL,
 CONSTRAINT [PK_m_presentacionproducto] PRIMARY KEY CLUSTERED 
(
	[c_codproducto] ASC,
	[c_presentacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[m_principioactivo]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[m_principioactivo](
	[n_codigoprincipoact] [int] NOT NULL,
	[c_descripcion] [varchar](100) NOT NULL,
	[c_usuarioreg] [varchar](12) NULL,
	[d_fecharegistro] [datetime] NULL,
	[c_estado] [varchar](2) NOT NULL,
 CONSTRAINT [PK_m_principioactivo] PRIMARY KEY CLUSTERED 
(
	[n_codigoprincipoact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[m_producto]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[m_producto](
	[c_codproducto] [varchar](20) NOT NULL,
	[c_descripcionprod] [varchar](250) NOT NULL,
	[n_categoria] [int] NULL,
	[n_subcategoria] [int] NULL,
	[c_codigobarras] [varchar](200) NULL,
	[c_estado] [varchar](2) NOT NULL,
	[d_fecharegistro] [datetime] NOT NULL,
	[c_usuarioregistro] [varchar](12) NOT NULL,
	[d_ultimafechamod] [datetime] NULL,
	[c_ultimousuariomod] [varchar](12) NULL,
 CONSTRAINT [PK_m_producto] PRIMARY KEY CLUSTERED 
(
	[c_codproducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[m_productoprincipioact]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[m_productoprincipioact](
	[c_codproducto] [varchar](20) NOT NULL,
	[n_codigoprincipoact] [int] NOT NULL,
	[c_estado] [varchar](1) NULL,
	[c_ultimousuario] [varchar](12) NULL,
	[d_ultimafechamod] [datetime] NULL,
 CONSTRAINT [PK_m_productoprincipioact] PRIMARY KEY CLUSTERED 
(
	[c_codproducto] ASC,
	[n_codigoprincipoact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[m_subcategoria]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[m_subcategoria](
	[n_subcategoria] [int] NOT NULL,
	[n_categoria] [int] NOT NULL,
	[c_descripcion] [varchar](100) NOT NULL,
	[c_usuarioregistro] [varchar](12) NULL,
	[d_fecharegistro] [datetime] NULL,
	[c_ultimousuariomod] [varchar](12) NULL,
	[d_ultimafechamod] [datetime] NULL,
	[c_estado] [varchar](2) NULL,
 CONSTRAINT [PK_m_subcategoria] PRIMARY KEY CLUSTERED 
(
	[n_subcategoria] ASC,
	[n_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[m_telefonocliente]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[m_telefonocliente](
	[c_tipocliente] [varchar](2) NOT NULL,
	[c_documeto] [varchar](20) NOT NULL,
	[n_linea] [int] NOT NULL,
	[c_numero] [varchar](20) NULL,
	[c_nombrecontacto] [varchar](100) NULL,
	[c_estado] [varchar](2) NULL,
	[c_ultimousuariomod] [varchar](12) NULL,
	[d_ultimafechamod] [datetime] NULL,
 CONSTRAINT [PK_m_telefonocliente] PRIMARY KEY CLUSTERED 
(
	[c_tipocliente] ASC,
	[c_documeto] ASC,
	[n_linea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[m_ubigeo]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[m_ubigeo](
	[c_ubigeo] [varchar](12) NOT NULL,
	[c_tipo] [varchar](5) NOT NULL,
	[c_descripcion] [varchar](200) NOT NULL,
	[c_ultimousuario] [varchar](12) NULL,
	[d_ultimafechamodificacion] [datetime] NULL,
 CONSTRAINT [PK_m_ubigeo] PRIMARY KEY CLUSTERED 
(
	[c_ubigeo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[v_sistemaventa]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[v_sistemaventa](
	[n_sistemaveta] [bigint] IDENTITY(1,1) NOT NULL,
	[c_descripcion] [varchar](150) NOT NULL,
	[d_fechainicio] [datetime] NOT NULL,
	[d_fechafin] [datetime] NOT NULL,
	[c_estado] [varchar](1) NOT NULL,
	[c_usuarioregistro] [varchar](12) NULL,
	[d_fecharegistro] [datetime] NULL,
	[c_ultimosuauriomod] [varchar](12) NULL,
	[d_ultimafechamod] [datetime] NULL,
 CONSTRAINT [PK_v_sistemaventa] PRIMARY KEY CLUSTERED 
(
	[n_sistemaveta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[v_venta]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[v_venta](
	[n_codigoventa] [bigint] NOT NULL,
	[c_tipocliente] [varchar](2) NOT NULL,
	[c_documento] [varchar](20) NOT NULL,
	[n_condicionventa] [bigint] NULL,
	[n_montototal] [decimal](18, 6) NOT NULL,
	[n_montoigv] [decimal](18, 6) NOT NULL,
	[c_estado] [varchar](2) NOT NULL,
	[n_montoneto] [decimal](18, 6) NOT NULL,
	[c_usuarioregistro] [varchar](12) NOT NULL,
	[d_fecharegistro] [datetime] NOT NULL,
	[c_ultusuariomod] [varchar](12) NULL,
	[d_ultimfechamod] [datetime] NULL,
	[d_fechaanulacion] [datetime] NULL,
	[c_usuarioanulacion] [varchar](12) NULL,
 CONSTRAINT [PK_v_venta] PRIMARY KEY CLUSTERED 
(
	[n_codigoventa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTADIRECCIONCLIENTE]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_LISTADIRECCIONCLIENTE] 
@TipoCli varchar(2),
@Documento varchar(20)

as 

select c_tipocliente, c_documento, n_secuencia  as n_secuenciadireccion, c_descripciondir,  case c_estado when 'A' then convert(bit,1) else convert(bit,0) end c_estado , 
c_latitud, c_longitud, c_ubigeo , c_usuariocreacion, d_fechacreacion, c_ultimausuariomod, d_ultimafechamod
from m_direccioncliente
where c_tipocliente  like @TipoCli 
and c_documento like  @Documento
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAPRODUCTOS]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_LISTAPRODUCTOS] 
@CodProducto varchar(20),
@Categoria int ,
@SubCategoria int ,
@Descripcion varchar(250),
@Estado  varchar(2),
@PrincipActivo varchar(200)
as

select c_codproducto, c_descripcionprod, n_categoria, n_subcategoria, c_codigobarras, d_fecharegistro , c_usuarioregistro, d_ultimafechamod,
 c_ultimousuariomod	, case c_estado when 'A' then convert(bit ,1 ) else convert(bit,0) end c_estado , convert(varchar(150),'') c_DescripCategoria ,
 convert(varchar(100) , '') c_DescripSubCateg
into #Data
from  m_producto
where   c_codproducto like @CodProducto
and  ((@Categoria = 0) or (@Categoria<> 0 and n_categoria = @Categoria) )
and  ((@SubCategoria = 0) or (@SubCategoria<> 0 and n_categoria = @SubCategoria) )
and  c_descripcionprod like @Descripcion
and c_estado like @Estado 
--and  ((@PrincipActivo = 0) or (@PrincipActivo<> 0 and p = @PrincipActivo) )

update #Data set c_DescripCategoria = m_categoria.c_descripcion
from	 #Data left	 join m_categoria  on m_categoria.n_categoria = #Data.n_categoria

update #Data set c_DescripSubCateg = m_subcategoria.c_descripcion 
from #Data  left join m_subcategoria on m_subcategoria.n_categoria = #Data.n_categoria
and m_subcategoria.n_subcategoria = #Data.n_subcategoria

select   c_codproducto , m_principioactivo.n_codigoprincipoact , c_descripcion 
into #DataPA
from  m_productoprincipioact inner join  m_principioactivo
on m_principioactivo.n_codigoprincipoact = m_productoprincipioact.n_codigoprincipoact
and c_codproducto  in (select c_codproducto from #Data)


select c_codproducto, c_descripcionprod, n_categoria, n_subcategoria, c_codigobarras, d_fecharegistro , c_usuarioregistro,
d_ultimafechamod, c_ultimousuariomod, c_estado, c_DescripCategoria, c_DescripSubCateg ,
 (SELECT ',' + US.c_descripcion    FROM #DataPA US
 WHERE US.c_codproducto = #Data.c_codproducto
 FOR XML PATH('')) c_princp_act
 into #DataFin
 from #Data

 update #DataFin set	 c_princp_act  = substring(c_princp_act , 2, len(c_princp_act))

 select c_codproducto, c_descripcionprod, n_categoria, n_subcategoria, c_codigobarras, d_fecharegistro, c_usuarioregistro, d_ultimafechamod,
  c_ultimousuariomod, c_estado, c_DescripCategoria, c_DescripSubCateg, c_princp_act	
  from #DataFin
GO
/****** Object:  StoredProcedure [dbo].[SP_UBIGEO]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- exec SP_UBIGEO '%' , 'GRID'
CREATE  Procedure [dbo].[SP_UBIGEO]
@Ubigeo varchar(12),
@Tipo varchar(5)

As

if @Tipo = 'GRID'
begin
	select c_ubigeo, c_Descripcion
	into #data
	from m_ubigeo
	where c_tipo = 'DIST'

	update #data set   c_descripcion = m_ubigeo.c_descripcion + '-' + #data.c_descripcion
	from #data left join m_ubigeo on m_ubigeo.c_ubigeo =  substring(#data.c_ubigeo,1,4) + '00'

	update #data set   c_descripcion = m_ubigeo.c_descripcion + '-' + #data.c_descripcion
	from #data left join m_ubigeo on m_ubigeo.c_ubigeo =  substring(#data.c_ubigeo,1,2) + '0000'

	select c_ubigeo, c_descripcion 
	from #data
end
if  @Tipo  = 'DEPT'
begin
	select c_ubigeo , c_descripcion 
	from m_ubigeo
	where c_tipo  = 'DEPT'
end
if  @Tipo  = 'PROV'
begin
	select c_ubigeo , c_descripcion 
	from m_ubigeo
	where c_tipo  = 'PROV'
	and substring(@Ubigeo,1,2) = substring(c_ubigeo,1,2)
end
if @Tipo  = 'DIST'
begin
	select c_ubigeo , c_descripcion 
	from m_ubigeo
	where c_tipo  = 'DIST'
	and substring(@Ubigeo,1,4) = substring(c_ubigeo,1,4)
end


GO
/****** Object:  StoredProcedure [dbo].[SPD_PRINCPACT_PROD]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SPD_PRINCPACT_PROD]
@Producto varchar(20)

as 

delete m_productoprincipioact 
where c_codproducto  = @Producto
GO
/****** Object:  StoredProcedure [dbo].[SPI_CATEGORIA]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procedure	[dbo].[SPI_CATEGORIA]
@Categoria int ,
@Descripcion varchar(150),
@UltimoUsuario varchar(12) 

as 

declare @TempCategoria int
set @TempCategoria =  isnull( (select max(n_categoria) from m_categoria ),0) + 1
if not exists (select * from m_categoria   where n_categoria  = @Categoria )
begin
	insert into m_categoria
	( n_categoria, c_descripcion, c_usuarioregistro, c_ultimafechamod, c_estado)
	values (@TempCategoria , @Descripcion , @UltimoUsuario , dbo.F_HoraActual(), 'A')
end
else 
begin
 update m_categoria  set c_descripcion = @Descripcion , c_usuarioregistro = @UltimoUsuario  , c_ultimafechamod = dbo.F_HoraActual()
 where  n_categoria = @Categoria
end
GO
/****** Object:  StoredProcedure [dbo].[SPI_CLIENTE]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SPI_CLIENTE] 
@TipoCliente varchar(2),
@Documento varchar(20),
@Nombres varchar(100),
@ApellidoPat varchar(100),
@ApellidoMat varchar(100),
@FechaNacimiento datetime,
@UsuarioRegistro varchar(12),
@Estado varchar(2)

As 

Declare @RazonSoc varchar(300) , @HoraActual datetime

set @TipoCliente = upper( @TipoCliente)
Set @HoraActual = dbo.F_HoraActual()
If @TipoCliente = 'NA'
Begin
	Set @RazonSoc =  isnull(@Nombres,'') + ' ' + isnull(@ApellidoPat,'') + ' ' + isnull(@ApellidoMat,'')
End
Else
Begin
	Set @RazonSoc  = @Nombres
End

if  not exists  (select * from m_cliente where c_tipocliente = @TipoCliente and c_documento = @Documento )
begin
	Insert Into m_cliente (c_tipocliente, c_documento, c_nombre, c_apellidopaterno, c_apellidomaterno, 
	d_fechanacimiento, c_usuarioregistro, d_Fecharegistro, c_usuarioultmodif, d_fechaultmodif, c_razonsocial, c_estado)
	Values (@TipoCliente, @Documento , @Nombres ,  @ApellidoPat , @ApellidoMat,@FechaNacimiento,@UsuarioRegistro,@HoraActual,
			@UsuarioRegistro, @HoraActual, @RazonSoc, @Estado)
end
else
begin
	update m_cliente set c_nombre = @Nombres , c_apellidopaterno = @ApellidoPat , c_apellidomaterno = @ApellidoMat,
			c_razonsocial  = @RazonSoc , c_estado = @Estado ,c_usuarioultmodif = @UsuarioRegistro , d_fechaultmodif = dbo.F_HoraActual()
			where c_tipocliente = @TipoCliente and  c_documento = @Documento
end

GO
/****** Object:  StoredProcedure [dbo].[SPI_DIRECCIONCLIENTE]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SPI_DIRECCIONCLIENTE]
@TipoCliente varchar(2) ,
@Documento varchar(12),
@Secuencia int ,
@DescDireccion varchar(150) ,
@Longitud varchar(20),
@Latitud varchar(20),
@Ubigeo varchar(12),
@Estado varchar(2),
@FechaCreacion datetime,
@UsuarioCreacion varchar(12),
@FechaMod datetime ,
@UsuarioMod varchar(12)

as 

declare @SecuanciaTemp int , @Fecha datetime

set @Fecha = dbo.F_HoraActual()
set @DescDireccion = upper(@DescDireccion)

if not exists (select * from m_direccioncliente where c_tipocliente = @TipoCliente and c_documento = @Documento and n_secuencia = @Secuencia)
begin
	set @SecuanciaTemp = (select max(n_secuencia) from m_direccioncliente where c_tipocliente = @TipoCliente and c_documento= @Documento)
	set @SecuanciaTemp = isnull(@SecuanciaTemp,0)+1
	insert into m_direccioncliente
	( c_tipocliente , c_documento, n_secuencia, c_descripciondir, c_estado, c_latitud , c_longitud , c_ubigeo, c_usuariocreacion, 
	 d_fechacreacion, c_ultimausuariomod, d_ultimafechamod	)
	 values(@TipoCliente,@Documento , @SecuanciaTemp, @DescDireccion , @Estado , @Latitud , @Longitud, @Ubigeo , @UsuarioCreacion,
			 getdate() ,  @UsuarioCreacion , getdate())

end
else
begin
	update m_direccioncliente set c_descripciondir = @DescDireccion , c_estado = @Estado ,c_latitud = @Latitud , c_longitud = @Longitud,
	c_ubigeo = @Ubigeo , c_ultimausuariomod = @UsuarioCreacion , d_ultimafechamod = dbo.F_HoraActual() 
	where c_tipocliente = @TipoCliente
	and c_documento = @Documento
	and n_secuencia = @Secuencia
end
GO
/****** Object:  StoredProcedure [dbo].[SPI_PRESENTACION]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SPI_PRESENTACION] 
@Presetacion varchar(4),
@Descripcion varchar(100),
@Estado varchar(2) ,
@Usuario varchar(12),
@Fecha datetime 
as

declare @MaxPresentacion bigint

if not exists (select * from m_presentacion where c_presentacion = @Presetacion)
begin
	
	set @MaxPresentacion = (select max(convert(bigint, c_presentacion)) from m_presentacion)
	set @MaxPresentacion = isnull(@MaxPresentacion , 0 ) + 1
	set @Presetacion = format(@MaxPresentacion , '0000')

	insert into m_presentacion (c_presentacion, c_descripcion, c_estado, c_ultimousuariomod, d_ultimafechamod)
	values ( @Presetacion , upper(@Descripcion) , 'A' , @Usuario , dbo.F_HoraActual())
end
else
begin
	update dbo.m_presentacion set c_estado = @Estado , c_descripcion = @Descripcion , c_ultimousuariomod = @Usuario , d_ultimafechamod  = dbo.F_HoraActual()
	where c_presentacion = @Presetacion
end
GO
/****** Object:  StoredProcedure [dbo].[SPI_PRINCIP_ACTIVO]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure  [dbo].[SPI_PRINCIP_ACTIVO] 
@CodPrincipio int ,
@Descripcion varchar(100),
@Estado varchar(2),
@Usuario varchar(12),
@Fecha datetime 

as 

declare @CodigoTemp int 

set @CodigoTemp =  isnull( (select  max(n_codigoprincipoact) from m_principioactivo ),0) + 1

if  not exists (select * from m_principioactivo where n_codigoprincipoact = @CodPrincipio)
begin
	insert into m_principioactivo
	(  n_codigoprincipoact ,c_descripcion , c_usuarioreg , d_fecharegistro ,c_estado)
	values(  @CodigoTemp , @Descripcion , @Usuario , @Fecha , @Estado   )
end
else
begin
	update m_principioactivo set  c_descripcion = @Descripcion ,  c_usuarioreg = @Usuario , d_fecharegistro = @Fecha , c_estado = @Estado
	where  n_codigoprincipoact = @CodPrincipio
end
GO
/****** Object:  StoredProcedure [dbo].[SPI_PROD_PRINCPIOACT]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SPI_PROD_PRINCPIOACT]
@CodProducto varchar(20),
@Principio int ,
@Usuario varchar(12)

as 


If @Principio <= 0
Begin
	THROW 99001, ' ==> Falta seleccionar un principio activo para alguna fila, revisar por favor.', 1
End

insert into m_productoprincipioact (c_codproducto, n_codigoprincipoact, c_estado, c_ultimousuario, d_ultimafechamod)
values ( @CodProducto , @Principio , 'A' , @Usuario , dbo.F_HoraActual())
GO
/****** Object:  StoredProcedure [dbo].[SPI_PRODUCTO]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SPI_PRODUCTO] 
@CodProducto varchar(20),
@DescripcionProd varchar(250),
@Categoria int,
@SubCategoria int ,
@CodBarra varchar(200),
@Estado  varchar(2),
@Usuario varchar(12),
@Fecha datetime
as

declare @MaxCodProd bigint

if not exists (select * from  m_producto where c_codproducto = @CodProducto)

begin
	set @MaxCodProd = (select convert(bigint, max( c_codproducto)) from  m_producto)
	set @MaxCodProd = isnull( @MaxCodProd , 0) + 1
	set @CodProducto = format(@MaxCodProd , '00000000')
	
	insert into m_producto (c_codproducto, c_descripcionprod, n_categoria, n_subcategoria, c_codigobarras, c_estado
	                          , d_fecharegistro, c_usuarioregistro, d_ultimafechamod, c_ultimousuariomod)
	values (@CodProducto , upper(@DescripcionProd) , @Categoria , @SubCategoria,@CodBarra , 'A', dbo.F_HoraActual(),@Usuario,dbo.F_HoraActual(),@Usuario)

end 
else 
begin
	update  m_producto  set n_categoria = @Categoria , n_subcategoria = @SubCategoria	, c_codigobarras = @CodBarra , d_ultimafechamod = dbo.F_HoraActual(),
	c_ultimousuariomod = @Usuario , c_descripcionprod = @DescripcionProd
	where c_codproducto =  @CodProducto
end

GO
/****** Object:  StoredProcedure [dbo].[SPI_PRODUCTOPRESENTACION]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SPI_PRODUCTOPRESENTACION] 
@Producto varchar(20) ,
@Presentacion varchar(4),
@Correlativo bigint ,
@Usuario varchar(12),
@Fecha datetime , 
@Cantidad bigint ,
@Estado varchar(2)

As

If isnull(@Correlativo,0 ) = 0 
Begin
	 If Exists (select * From dbo.m_presentacionproducto Where c_codproducto = @Producto And c_presentacion = @Presentacion)
	 Begin
			THROW 99001, ' ==> La presentacion para el producto seleccionado ya se encuentra registrada.', 1
	 End 
	 Else
	 Begin
		Insert Into	 m_presentacionproducto (c_codproducto, c_presentacion, n_cantidad, c_estado, c_usuarioregistro, d_Fecharegistro, c_ultimousuariomod, d_ultimafechamod)
		Values ( @Producto , @Presentacion , @Cantidad , 'A' , @Usuario , dbo.F_HoraActual(), @Usuario , dbo.F_HoraActual())
	 End
End 
Else
Begin
	If Exists (select * From m_presentacionproducto Where c_codproducto = @Producto And c_presentacion = @Presentacion And n_cantidad = @Cantidad)
		 Begin
				THROW 99001, ' ==> La presentacion para el producto seleccionado ya se encuentra registrada.', 1
		 End 
	Else
	Begin
		Update  m_presentacionproducto Set c_presentacion = @Presentacion , c_codproducto = @Producto , d_ultimafechamod = dbo.F_HoraActual() , 
		c_ultimousuariomod = @Usuario , c_estado = @Estado , n_cantidad = @Cantidad
		Where n_correlativo = @Correlativo
	End
	
End
GO
/****** Object:  StoredProcedure [dbo].[SPI_SUBCATEGORIA]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procedure [dbo].[SPI_SUBCATEGORIA] 
@SubCategoria int,
@Categoria int,
@Descripcion varchar(100),
@UsuarioReg varchar(12),
@Estado varchar(2)
as

declare @CodSubCatTemp int

if not exists (select * from  m_subcategoria where n_categoria = @Categoria and n_subcategoria = @SubCategoria)
begin
	set @CodSubCatTemp = (select max(n_subcategoria) from m_subcategoria where n_categoria = @Categoria)
	set @CodSubCatTemp = isnull(@CodSubCatTemp,0) +1
	insert into m_subcategoria (n_subcategoria, n_categoria, c_descripcion, c_usuarioregistro, d_fecharegistro
	                              , c_ultimousuariomod, d_ultimafechamod, c_estado)
	values(@CodSubCatTemp,@Categoria ,upper(@Descripcion), @UsuarioReg, dbo.F_HoraActual(),@UsuarioReg , dbo.F_HoraActual(), @Estado)
end
else
begin
	update m_subcategoria set c_descripcion = upper(@Descripcion) , c_estado = @Estado, 
	c_ultimousuariomod = @UsuarioReg , d_ultimafechamod = dbo.F_HoraActual()
	where n_categoria = @Categoria and n_subcategoria =  @SubCategoria

end

GO
/****** Object:  StoredProcedure [dbo].[SPI_TELEFONOCLIENTE]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SPI_TELEFONOCLIENTE] 
@TipoCli varchar(2) ,
@CodCli varchar(20) ,
@Linea int ,
@Numero varchar(20) ,
@NombContacto varchar(100),
@Estado varchar(2),
@Usuario varchar(12)

as 

declare @LineaTemp int

if  not exists (select * from  m_telefonocliente where c_tipocliente = @TipoCli  and c_documeto = @CodCli and n_linea = @Linea)
begin
	set @LineaTemp =  isnull( (select max(n_linea) from m_telefonocliente), 0 ) + 1

	insert into m_telefonocliente
	( c_tipocliente, c_documeto, n_linea, c_numero, c_nombrecontacto, c_estado, d_ultimafechamod, c_ultimousuariomod)
	values
	( @TipoCli, @CodCli,@LineaTemp , @Numero , @NombContacto , 'A' , dbo.F_HoraActual(), @Usuario)

end
else
begin
	update  m_telefonocliente set c_numero = @Numero ,  c_nombrecontacto = @NombContacto, c_estado = @Estado,
			d_ultimafechamod = dbo.F_HoraActual() , c_ultimousuariomod = @Usuario 
			where c_tipocliente = @TipoCli
			and c_documeto = @CodCli
			and n_linea = @Linea
end
GO
/****** Object:  StoredProcedure [dbo].[SPS_CATEGORIA]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SPS_CATEGORIA]
@CodigoCategoria int ,
@Estado varchar(2)
as

select n_categoria, c_descripcion, c_usuarioregistro, c_ultimafechamod, c_estado 
from m_categoria
where ((@CodigoCategoria =0 ) or (@CodigoCategoria <> 0 and n_categoria = @CodigoCategoria))
and c_estado like @Estado
GO
/****** Object:  StoredProcedure [dbo].[SPS_LISTA_PRESENTACION]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  procedure [dbo].[SPS_LISTA_PRESENTACION]
@Presentacion varchar(4),
@Estado varchar(2)

as

select c_presentacion, c_descripcion,   case c_estado when 'A' then convert(bit,1) else convert(bit,0) end c_estado, c_ultimousuariomod, d_ultimafechamod
from m_presentacion
where c_presentacion like @Presentacion
and c_estado like @Estado

GO
/****** Object:  StoredProcedure [dbo].[SPS_LISTA_PRESENTACIONPRODUCTO]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SPS_LISTA_PRESENTACIONPRODUCTO] 
@Producto varchar(20),
@Presentacion  varchar(4),
@Correlativo bigint ,
@Estado varchar(2)

as
Select c_codproducto,c_presentacion, n_cantidad,n_correlativo,c_usuarioregistro,d_Fecharegistro,c_ultimousuariomod,d_ultimafechamod,
Case c_estado When 'A' Then convert(bit,1) Else convert(bit,0) End c_estado
From   m_presentacionproducto
Where c_presentacion  Like @Presentacion
And c_codproducto Like @Producto 
And ((@Correlativo = 0) Or (@Correlativo<> 0 And n_correlativo = @Correlativo))
And c_estado Like @Estado

GO
/****** Object:  StoredProcedure [dbo].[SPS_LISTA_PRINCIPIOSACTIVOS]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SPS_LISTA_PRINCIPIOSACTIVOS]
@CodPrincipio int ,
@Descripcion varchar(100),
@Estado varchar(2)

as 

select n_codigoprincipoact, c_descripcion, c_usuarioreg, d_fecharegistro, case c_estado when 'A' then convert(bit,1) else convert(bit,0) end c_estado	
from m_principioactivo
where (( @CodPrincipio = 0 ) or (@CodPrincipio<> 0 and n_codigoprincipoact = @CodPrincipio ))
and c_descripcion like @Descripcion
and c_estado like @Estado  
GO
/****** Object:  StoredProcedure [dbo].[SPS_LISTACLIENTE]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SPS_LISTACLIENTE] 
@TipoCliente varchar(2),
@NroDoc varchar(20)
As

Select  case c_tipocliente when 'NA' then 'NATURAL' else 'JURIDICO' end c_tipocliente ,c_documento,c_nombre,c_apellidopaterno,c_apellidomaterno,c_razonsocial,
d_fechanacimiento, Case c_estado When 'A'  Then convert(bit,1) Else convert(bit,0) End c_estado,
c_usuarioregistro,d_Fecharegistro,c_usuarioultmodif,d_fechaultmodif 
From  m_cliente
GO
/****** Object:  StoredProcedure [dbo].[SPS_LISTATELEFONO]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SPS_LISTATELEFONO]
@TipoCli varchar(2),
@Doc varchar(20)
as 

select c_tipocliente, c_documeto  as c_codcliente, n_linea, c_numero, c_nombrecontacto, 
 case  c_estado when 'A'  then  convert(bit,1) else convert(bit,0) end c_estado , c_ultimousuariomod, d_ultimafechamod 
from m_telefonocliente
where   c_tipocliente = @TipoCli
and c_documeto = @Doc
GO
/****** Object:  StoredProcedure [dbo].[SPS_PRINCP_ACT_XP_PROD]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SPS_PRINCP_ACT_XP_PROD]
@CodProducto varchar(12)

as
select c_codproducto, n_codigoprincipoact, c_estado, c_ultimousuario, d_ultimafechamod 
from m_productoprincipioact	
where c_codproducto like @CodProducto
GO
/****** Object:  StoredProcedure [dbo].[SPS_SUBCATGORIA]    Script Date: 11/08/2019 18:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procedure [dbo].[SPS_SUBCATGORIA]
@SubCategoria int  , 
@Categoria int 
as

select n_subcategoria, n_categoria, convert(varchar(100),'')  as c_DescripCategoria ,c_descripcion, c_usuarioregistro,
d_fecharegistro, c_ultimousuariomod, d_ultimafechamod, case c_estado when 'A' then	 convert(bit,1) else  convert(bit,0) end c_estado 
into #data
from m_subcategoria
where   (( @Categoria = 0 ) or (@Categoria <> 0 and n_categoria = @Categoria) )  
and ((@SubCategoria  =  0 ) or ( @SubCategoria <> 0 and n_subcategoria = @SubCategoria) )

update #data set c_DescripCategoria = m_categoria.c_descripcion
from #data left join m_categoria on m_categoria.n_categoria = #data.n_categoria

select n_subcategoria, n_categoria, c_DescripCategoria, c_descripcion, c_usuarioregistro, d_fecharegistro, c_ultimousuariomod, d_ultimafechamod, c_estado
from #data
GO
